
// colors
$accentColor = #57be68
$textColor = #0b0117
$borderColor = #E6E8E6
$codeBgColor = #0A0E2A
$arrowBgColor = #0A0E2A

$lightColor = #FEFDFB
$accentColorB = #d46453

$fontA = 'Oswald', sans-serif
$fontB = 'Lobster', cursive

// responsive breakpoints
$MQNarrow = 1259px
$MQMobile = 719px
$MQMobileNarrow = 419px

.header-anchor
    display none

.panel 
  display grid
  grid-template-columns repeat( auto-fill, minmax(350px, 1fr) )
  grid-gap 1.5rem
  margin-top 3rem
  @media (max-width $MQMobileNarrow)
    display inline-block
    max-width 100%


  h2 
    box-sizing border-box
    display block
    width 100%
    margin 0
    padding 0
    background-color tint($textColor, 40%)
    background-image url('/img/sun.png'), linear-gradient(135deg, tint($textColor, 35%) 0%, tint($textColor, 20%) 100%)
    background-size contain
    background-repeat no-repeat
    color darken($lightColor, 5%) !important
    font-family $fontB
    padding 1rem
    border-bottom darken($textColor, 30%)
    font-weight bold
    word-wrap break-word
    text-shadow 3px 3px 1px tint($textColor, 10%), 4px 4px 0px rgba(54, 54, 54, 0.5)
    letter-spacing .25rem
    border-radius 15px 0 0 0
    @media (max-width $MQMobile)
        line-height 1
    
    
  h2::first-letter
    text-transform uppercase
    font-size 3rem


  .panel-item:hover p
    color tint($accentColor, 60%) !important
    
     

  .panel-item 
    display block
    box-shadow 1px 1px 3px $textColor
    padding 0
    border-radius 15px 0 30px 0
    background-image url('/img/grunge.png'), linear-gradient(15deg, tint($textColor, 10%) 0%, tint($textColor, 45%) 100%)
    @media (max-width $MQMobile)
        margin-bottom 2.75rem
    p
      padding 1rem
      color $lightColor
      @media (max-width $MQMobile)
        padding 0 .5rem .5rem
    
    a 
      color: $textColor

    a:hover 
      color: $textColor
      text-decoration none

    img 
      width 100%
      height 350px
      object-fit cover
      object-position top
      

      @media (max-width $MQMobile)
        height 45vh
    
  .panel-item:hover
    background-color tint($accentColor, 70%) 
    h2 
      color tint($accentColor, 70%) !important     
        
  .panel-item:hover img
    filter brightness(130%) contrast(110%)
    


@media (max-width: $MQNarrow) 
  .panel 
    grid-template-columns 1fr



// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

body, html  

    scroll-behavior smooth
    background-color $lightColor !important
    background-image url('/img/paper.png')

    font-family $fontA
    font-size 16px !important
    @media (min-width $MQMobile)
        font-size 1.025rem !important
        p, ul, ol
            line-height 1.9 !important
    @media (max-width $MQMobile)
        letter-spacing -1px
        font-size 1.1rem !important

.hero img
    background-image url('/img/sun.png')
    background-size contain
    background-repeat no-repeat
    max-height 500px !important
    transform rotate(3.5deg)
    
.action-button
    border-radius 15px 0 30px 0 !important
    box-shadow 1px 1px 3px $textColor
        
em
    display: block
    position relative
    font-family $fontA
    line-height 1.85 !important
    color $accentColorB !important
    padding-left 1.25rem
    margin-bottom 2.4rem !important
    border-left .5rem solid tint($accentColorB, 10%)
    font-size 1.44rem
    @media (max-width $MQMobile)
        font-size 1.2rem

.search-box
    z-index 100

.footer
    font-family $fontA

h1, h2, h3, h4, h5, h6, .hero h1, .description, .sidebar, .site-name
    font-family $fontA
    letter-spacing .05rem
    border-bottom none

.navbar
    border-bottom none !important
    opacity .975
    box-shadow 2px 0px 3px $textColor
    background-color darken($accentColor, 40%) !important
    background-image url('/img/grunge.png'), linear-gradient(135deg, tint($accentColor, 15%) 0%, tint($textColor, 45%) 100%) !important
    height 4rem
    
.navbar:after
    content ''
    position absolute
    left 0
    right 0
    bottom 5px
    height 3px
    background darken($lightColor, 12.5%)


.navbar, .navbar .links
    font-family $fontA
    .nav-link
        color $lightColor !important

.navbar .links
    background-color transparent !important

.site-name
    font-family $fontB
    font-weight bold !important
    color darken($lightColor, 5%) !important
    text-shadow 3px 3px 1px tint($textColor, 10%), 4px 4px 0px rgba(54, 54, 54, 0.5)
    letter-spacing .1rem
    transform: rotate(7deg) translate(0px, 1px) skew(17deg, -14deg)
    z-index 100
    font-size 1.75rem !important
    @media (max-width $MQMobile)
        font-size 1.5rem !important
        margin-left -.75rem
        letter-spacing 0
    
.site-name::first-letter
    font-size 3rem
        

#main-title
    font-family $fontB
    color $textColor !important
    font-size 3.5rem  !important
    text-shadow 4px 4px 2px $lightColor, 6px 6px 0px rgba(54, 54, 54, 0.5)
    letter-spacing .35rem
    line-height 5rem
    transform: rotate(12deg) translate(0px, 1px) skew(17deg, -14deg)
    @media (max-width $MQMobile)
        font-size 2.75rem !important
        letter-spacing .2rem
        line-height 1.2
        margin-top -1rem
    
#main-title::first-letter
    font-size 7rem
    @media (max-width $MQMobile)
        font-size 5.8rem

.nav-item .nav-link
    color $accentColor !important

.sidebar
    background-color tint($accentColor, 70%) !important
    background linear-gradient(135deg, darken($lightColor, 10%) 36%, tint($textColor, 77%) 100%) !important
    font-family $fontA
    width 16rem
    top 4rem
    @media (max-width $MQMobile)
        top 1rem

.sidebar-button
    color $lightColor
    padding .6rem 0 !important
    
.page h1:first-of-type
    font-family $fontB
    font-weight bold
    font-size 3rem
    position relative
    text-shadow 3px 3px 1px darken($lightColor, 5%), 4px 4px 0px rgba(54, 54, 54, 0.5)
    letter-spacing .2rem
    padding-bottom 1rem
    
.page h1:first-of-type .header-anchor
    text-shadow none
    font-size 3rem   
    
#page-title::first-letter
    text-transform uppercase
    font-size 7rem
    letter-spacing -.1rem
    line-height 5rem
    @media (max-width $MQMobile)
        font-size 5rem
        line-height 6.5rem

.home .hero .description, .footer
    color $textColor !important
    
.footer
    border-top none !important

.theme-default-content
    margin-top 1rem !important
    @media (min-width $MQMobile)
        margin-top 3rem !important
    

// iframes like youtube

iframe
    display flex
    min-width 100%
    max-width 100%
    width 100%
    height 50vh
    min-height 200px
    @media (max-width $MQMobile)
        height 30vh

.fullWidth
    .theme-default-content
        max-width 100%
        @media (min-width $MQNarrow)
            margin-left -4rem
            
        @media (min-width $MQMobile)
            margin-left -1rem
                    
.landingPage
    background-image url('/img/collage.jpg')
    min-height 100vh
    
.wichtig
    font-size 1.5rem
    color lighten($lightColor, 20%)
    background lighten($accentColorB, 10%)
    padding .5rem 1rem
    margin-bottom 1.44rem
    display inline-block
    box-shadow 6px 6px 1px darken($accentColorB, 50%), 7px 7px 0px darken($textColor, 30%)
